 <%-include("header") %>
 <div class="main_body container-fluid">
    <div class="row">
      <div id="left_pannel" class="col-2">
        <ul>
          <li><a href="/dashboard" class = "tab <%= currentPage === 'dashboard' ? 'selected' : '' %>"><span class="page-tag">Dashboard</span><i class="fa fa-home page-icon" aria-hidden="true"></i></a></li>
          <li ><a href="/search"class = "tab <%= currentPage === 'search' ? 'selected' : '' %>"><span class="page-tag">Search</span><i class="fas fa-search page-icon" style="color: #889096;"></i></a></li>
          <li ><a href="/messages" class = "tab <%= currentPage === 'messages' ? 'selected' : '' %>"><span class="page-tag">Messages</span><i class="fa-solid fa-message page-icon"></i></a></li>
          <li><a href="/tutorials" class = "tab <%= currentPage === 'tutorials' ? 'selected' : '' %>"><span class="page-tag">Create Tutorials</span><i class="fa-solid fa-plus page-icon"></i></a></li>
        </ul>
      </div>