<%-include ("partials/header") %>
<div id="main">
  <%-include ("partials/navbar") %>

  <!-- left side pannel  -->
  <%-include ("partials/leftPanel") %>

  <div id="center_pannel" class="col-8">
    <section class="chat border rounded">
      <% if(typeof matchId == "undefined"){%>
      <!-- Chat List -->
      <div class="chat-list">
        <% matches.forEach(match => { %> 
        <div class="chat-item messages-active">
          <img
            src="/<%= match.friend_pfp %>"
            alt="Profile picture"
            class="profile-icon"
          />
          <div>
            <p><strong><%= match.friend_name %></strong></p>
            <p><%= match.last_message ?? "Say hello 👋" %></p>
          </div>
        </div>
        <% }) %> 
      </div>

      <!-- Chat Window -->
      <div class="chat-window"></div>

      <%}else{%>
      <!-- Chat List -->
      <div class="chat-list">
        <% matches.forEach(match => { %> 
        <div class="chat-item messages-active">
          <img
            src="/<%= match.friend_pfp %>"
            alt="Profile picture"
            class="profile-icon"
          />
          <div>
            <p><strong><%= match.friend_name %></strong></p>
            <p><%= match.last_message ?? "Say hello 👋" %></p>
          </div>
        </div>
        <% }) %> 
      </div>

      <!-- Chat Window -->
      <div class="chat-window">
        <div class="chat-header border">
          <h3>Alice</h3>
        </div>

        <div class="chat-messages">
          <div class="message received">Hey! How are you?</div>
          <div class="message sent">I’m good, thanks! What about you?</div>
          <div class="message received">Doing well :)</div>
        </div>

        <!-- form -->
        <form
          id="chat-input"
          class="chat-input"
          action="/messages"
          method="POST"
        >
          <input
            type="text"
            name="content"
            class="form-control"
            placeholder="Type a message..."
          />
          <button type="submit" id="send-button" class="btn">Send</button>
        </form>
        <%}%>
      </div>
    </section>
  </div>
</div>
