<%-include ("partials/header") %>
<div id="main">
  <%-include ("partials/navbar") %>

  <!-- left side pannel  -->
  <%-include ("partials/leftPanel") %>

  <div id="center_pannel" class="col-8">
    <section class="chat border rounded">
      <% if(typeof matchId == "undefined"){%>
      <!-- Chat List -->
     <%-include ("partials/chatlist") %>

      <!-- Chat Window -->
      <div class="chat-window"></div>

      <%}else{%>
      
      <!-- Chat List -->
     <%-include ("partials/chatlist") %>

      <!-- Chat Window -->
      <div class="chat-window">
        <div class="chat-header border">
          <h3>Alice</h3>
        </div>

        <div class="chat-messages">
          <div class="message received">Hey! How are you?</div>
          <div class="message sent">I’m good, thanks! What about you?</div>
          <div class="message received">Doing well :)</div>
        </div>

        <!-- form -->
        <%-include ("partials/typeMessage")%>
        <%}%>
      </div>
    </section>
  </div>
</div>
